.footer {
    background-color: #f2f2f2;
    padding-bottom: 56px;
}
.footer__hat{
    margin-top: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.map__hidden{
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 13260px;
    margin-left: -25%;
    background-color: #f2f2f2;
}
.map__hidden--white{
    background-color: #fff;
}
.map{
    margin-left: -50%;
    border: none;
}
.map__legend{
    position: absolute;
    margin-top: -325px;
    width: 570px;
    height: 201px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.map__legend--text-part1{
    padding-right:87px ;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #111;
}
.map__legend--text-part2 {
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #444;
}
.hat__logo:hover{
    opacity: .8;
}
.hat__logo:focus{
    opacity: .6;
}
.hat__soc-group--icon{
    display: inline-block;
    align-items: center;
    currentColor: #666666;
}
.hat__soc-group--icon:not(:first-child){
    margin-left: 28px;
}
.hat__soc-group--icon:hover{
    fill: #68b738;
    color: #68b738;
}
.hat__soc-group--icon:focus{
    opacity: .3;
}
.hat__html-link{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #444;
}
.hat__html-link:focus{
    opacity: .3;
}
.hat__html-link--text {
    padding-right: 22px;
}
.hat__html-link--image{
    display: inline-block;
    text-decoration: none;
    border: none;
    currentColor: #666666;
}
.hat__html-link--image:hover{
    fill: #68b738;
    currentColor: #68b738;
}