.opportunities{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 136px;
}
.opportunities__part{
    width: 570px;
    height: 374px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opportunities__part:not(:first-child){
    margin-left: 80px;
}
.part{}
.part__head{
    display: flex;
    align-items: center;
}
.head{}
.head--image{
    max-width: 113px;
    max-height: 106px;
}
.head--title{
    margin-left: 62px;
    font-family: 'Oswald',sans-serif;
    font-size: 36px;
    line-height: 38px;
    text-transform: uppercase;
    color: #000;
}
.part--description{
    margin-top: 39px;
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}
.part--link{
    margin-top: 27px;
    display: flex;
    align-items: center;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.part--link-icon{
    margin-left: 28px;
}
.part--link:focus{
    opacity: .3;
}