.header {
    background-color: #fff;
    padding-top: 53px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.header__logo{

}
.header__logo:hover{
    opacity: .8;
}
.header__logo:focus{
    opacity: .6;
}