.form{}
.h1--forma{
    margin-top: 74px;
}
.form__h3{
    margin-top: 56px;
    margin-bottom: 66px;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000;
}
.fieldset{
    border: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}
.fieldset--contact{
    min-height: 195px;
    align-items: center;
    margin-bottom: 0;
}
.fieldset--radio-select{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 196px;
    border: 1px solid #e7e7e7;
}
.fieldset__radio{
    display: block;
    justify-content: left;
    width: 570px;
}
.fieldset__radio label{
    margin-left: 28px;
}
.fieldset--profile{
    display: block;
    justify-content: left;
}
.legend{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -50px;
    background-color: #fff;
    font-family: 'Oswald',sans-serif;
    font-size: 36px;
    line-height: 38px;
    color: #000;
    text-transform: none;
}
.legend--hidden{
    display: none;
}
.legend:before{
    z-index: -1;
    margin-top: 22px;
    margin-left: -100%;
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #68b738;
}
.legend:after{
    z-index: -1;
    position: absolute;
    content: "";
    margin-top: -15px;
    height: 2px;
    width: 100%;
    background-color: #68b738;
}
.legend--border{
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
    width: 20000px;
    height: 2px;
    background-color: #68b738;
    margin-left: -50%;
    margin-top: -15px;
}
.button--form{
    margin-top: 61px;
    margin-bottom: 82px;
    width: 568px;
}