.process{
}
.process-head{
    margin-top: 71px;
    font-family: 'Oswald',sans-serif;
    font-size: 60px;
    line-height: 62px;
    color: #000;
}
.process__list{
    display: flex;
    align-items: center;
}
.list__part{
    width: 230px;
    height: 240px;
}
.list__part:not(:first-child) {
    margin-left: 95px;
}
.list__part--icon{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68b738;
    margin-bottom: 31px;
}
.list__part--description{
    font-family: 'Arial',sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444;
}
.list__part--number{
    position: absolute;
    z-index: -1;
    font-family: 'Oswald',sans-serif;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    margin-left: 115px;
    margin-top: -40px;
}