.banner{
    display: flex;
    margin-top: 29px;
    align-items: center;
}
.banner--h1{
    font-family: 'Oswald',sans-serif;
    font-size: 60px;
    line-height: 62px;
    color: #000;
}
.banner--h3{
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
}
.banner--link{
    margin-top: 52px;
    width: 244px;
    height: 54px;
    justify-content: center;
    text-decoration: none;
}