.main {

}
.main__container{

}
.main--index{
    background-image: url("../../image/index/index-background-desktop.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    margin-top: -113px;
    padding-top: 141px;
}
.main--banner{

}





