.nav {
    display: flex;
    align-items: center;
}
.nav__link {
    position: relative;
    font-family: 'Oswald', sans-serif ;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #111;

}
.nav__link:not(:first-child){
    margin-left: 32px;
}
.nav__link--active::after{
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68B738;
    position: relative;
    top: 14px;
}
.nav__link--white{
    color: #fff;
}
.nav__link--white::after{
    background-color: #fff;
}
.nav__link:hover{
    opacity: .5;
}
.nav__link:focus {
    opacity: .25;
}






